<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warning</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4"><br/><br/><br/><br/><br/>
                <h2 class="text-center">Warning</h2>                
                    <div class="form-group text-center">
                        <div id="message">{{message}} <br/>
                            {%if msgtype == "logout"%}
                                <a href="{{backurl}}">Go Back in</a>
                            {%endif%}             
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
 
    



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>